/* MINI RESET */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Figtree, sans-serif;
  color: rgb(13, 17, 23);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 16px;
}

button {
  font-family: inherit;
}

/* HEADER */
header {
  background-color: #333969;
  height: 55px;
  padding: 0 70px;
  margin-bottom: 30px;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.25);
  height: 35px;
  padding: 5px 5px 5px 10px;
}

.rounded {
  border-radius: 4px;
}

header button {
  background-color: #ED8A9D;
  border: none;
  color: #841f34;
  padding: 0 20px;
}

#trybewarts-header-title {
  color: white;
  font-weight: 900;
}

.trybewarts-header-logo {
  width: 35px;
}

.trybewarts-login input {
  font-size: 14px;
  height: 35px;
  padding: 5px 5px 5px 10px;
}

/* EVALUATION FORM - LEFT MAIN CONTENT */
#evaluation-form {
  margin-bottom: 60px;
}

textarea {
  border: 2px solid rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 15px 60px 15px 15px;
  resize: none;
  width: 100%;
}

.fieldarea {
  position: relative;
}

.fieldarea p {
  bottom: 0;
  font-size: 13px;
  display: block;
  position: absolute;
  right: 30px;
}

#submit-btn {
  align-self: start;
  background-color: #333969;
  border: none;
  color: white;
  padding: 10px 30px;
  transition:
    background-color 200ms ease-in,
    color 200ms ease-in;
}

#submit-btn:disabled {
  background-color: #7e829f;
  color: #adb0c2;
  cursor: not-allowed;
}

/* IMG TRYBEWARTS - RIGHT MAIN CONTENT */
#trybewarts-forms-logo {
  height: 80px;
}

/* UTILITIES */
.container {
  width: 800px;
}

.display {
  font-size: 22px;
}

/* HELPER FLEX DIRECTION CLASSES */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* HELPER FLEX ALIGN ITEMS */
.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

/* HELPER FLEX JUSTIFY CONTENT */
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-25 {
  gap: 25px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.w700 {
  font-weight: 700;
}

.group {
  position: relative;
}

.group label {
  cursor: text;
  position: absolute;
  transition:
    font-size 100ms ease-in,
    left 100ms ease-in,
    top 100ms ease-in;
}

.input-itself,
select,
textarea {
  outline: none;
}

.input-itself:hover,
select:hover,
textarea:hover {
  border: 2px solid #459cfa;
}

.input-itself:focus,
select:focus,
textarea:focus {
  border: 2px solid #459cfa;
}

.input-itself:focus~.input-label,
.input-itself:not(:placeholder-shown)~.input-label {
  background-color: white;
  font-size: 10px;
  left: 7px;
  padding: 0 3px;
  top: -6px;
}

.input-label {
  left: 10px;
  top: 8px;
}

.is-hidden {
  display: none;
}

.log {
  border: 1px solid red;
}